<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div>
    hello
    <form th:method="POST" th:action="@{/users/delete}" th:object="${user}">
        <label for="name"> name: </label>
        <input type="text" th:field="*{name}" id="name">
        <label for="lastName"> last name: </label>
        <input type="text" th:field="*{lastName}" id="lastName">
        <label for="age"> age: </label>
        <input type="text" th:field="*{age}" id="age">
        <input type="submit" value="delete">
    </form>

</div>
</body>
</html>